body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8f5e9; /* Verde pastel */
}

header {
  background-color: #81c784; /* Verde pastel */
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 36px;
}

h1, h2 {
  margin: 0;
  font-size: 36px;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Establece un color constante para los enlaces */
a {
  color: #007bff; /* Azul */
}

/* Establece un color constante para los enlaces que forman parte de un botón */
a.btn {
  color: #fff; /* Blanco */
}

button[type="submit"],
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #81c784; /* Verde pastel */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover,
.btn:hover {
  background-color: #66bb6a; /* Verde pastel */
}
